{% extends 'layout.html' %} 


{% block content %}
<!-- 面板 + 表单 -->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> 重置密码
        </div>
        <div class="panel-body">
            <form method="post" action="http://127.0.0.1:8000/admin/{{nid}}/reset/" novalidate>
                {% csrf_token %}
                <!-- 校验 循环 -->
                {% for field in form %}
                <div class="form-group">
                    <label for="exampleInputEmail1">{{ field.label }}</label> {{ field }}
                    <!-- 错误信息 -->
                    <span style="color:red;">{{ field.errors.0 }}</span>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}