{% extends 'layout.html' %} {% block content %}
<div class="container">
    <div style="margin-bottom:10px;">
        <a href="http://127.0.0.1:8000/admin/modelform/add/" class="btn btn-success">添加管理员</a>
    </div>

    <!-- 表格 -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> 管理员列表
        </div>

        <!-- Table -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>密码</th>
                    <th>重置密码</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <!-- 模板语法 循环遍历数据库 -->
                {% for obj in queryset %}

                <tr>
                    <th scope="row">{{ obj.id }}</th>
                    <td>{{ obj.username }}</td>
                    <td>{{ obj.password }}</td>
                    <td><a href="http://127.0.0.1:8000/admin/{{obj.id}}/reset">重置</a></td>
                    <td>
                        <a href="http://127.0.0.1:8000/admin/{{obj.id}}/edit/" class="btn btn-primary btn-xs">编辑</a>
                        <a href="http://127.0.0.1:8000/admin/{{obj.id}}/delete/" class='btn btn-danger btn-xs'>删除</a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>


     <!-- 分页导航 -->
     <nav aria-label="Page navigation">
        <form method="get">
            <ul class="pagination" style="margin: 50px 400px;">
                {{ page_string }}
                <li>
                    <input type="text" placeholder="..." name="page" class="form-control" style="width: 50px; float: left; margin-left: 10px;">
                    <button class="btn btn-default" type="submit">跳转</button>
                </li>
            </ul>
        </form>
    </nav>
    
</div>
{% endblock %}