{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/person.css' %}">
</head>

<body>
    <p></p>
    <p>
        本次项目使用的是python主流的web框架django+mysql开发,使用HTML、CSS和JavaScript进行网页设计和开发。使用jQuery中封装的ajax发送网络请求，使用Bootstrap等UI库进行网页布局和美化，使用ercharts进行商品销售大数据可视化。开发工具使用vscode+navicate+chrome
    </p>
    <p>
        商品销售管理系统是一种用于管理商品销售过程的软件系统。它的作用主要包括以下几个方面：
        记录员工销售信息：商品销售管理系统可以帮助管理人员了解员工商品销售记录，便于企业进行人员管理。
        提高销售效率：商品销售管理系统可以帮助销售人员更好地了解客户需求，快速响应客户需求，从而提高销售效率和效益。
        管理销售流程：商品销售管理系统可以管理整个销售流程，包括销售订单、合同管理、发货管理等环节，从而提高销售管理的规范化和标准化水平。
        分析销售数据：商品销售管理系统可以分析销售数据，包括客户购买行为、产品销售情况、市场趋势等，帮助企业更好地了解市场情况，制定销售策略，提高销售业绩。
        改善客户体验：商品销售管理系统可以记录客户购买历史、偏好等信息，为客户提供个性化服务，从而改善客户体验，增强客户黏性。
        降低成本：商品销售管理系统可以自动化销售过程，降低人工成本和错误率，提高企业效率，降低销售成本。
    </p>
</body>

</html>