{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/person.css' %}">
</head>

<body>
    <p></p>
    <h1>xiao peng</h1>
    <div class="circle"></div>
    <p>欢迎来到我的个人主页！我是一名热爱编程的人，尤其是对Python和前端编程有着浓厚的兴趣。作为一名自由开发者，我喜欢研究各种编程语言和技术，探索它们在实际应用中的优劣和适用场景。
    </p>

    <p>
        在Python方面，我熟悉常用的数据分析和机器学习库，能够利用Python进行数据处理、数据可视化、机器学习模型的建立和优化等工作。同时，我也对Python在Web开发、爬虫等领域有着深入的研究，能够使用Django、Flask等Web框架快速开发Web应用。
        在前端方面，我喜欢使用HTML、CSS和JavaScript进行网页设计和开发。我能够使用jQuery、Vue.js等框架进行开发，并能够熟练使用Bootstrap等UI库进行网页布局和美化。
    </p>
</body>

</html>